/* RentBook.css */

.RentBook {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  max-height: 100vh;
  overflow-y: auto;
  flex-direction: row-reverse;

  .book-info {
    /* flex: 1; */
    max-width: 70%;
  }
  img {
    width: 70%;
  }
  .book-info h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }

  .author {
    font-size: 16px;
    color: #666;
  }

  .synopsis {
    font-size: 14px;
    color: #333;
    margin-top: 10px;
  }

  .genre {
    font-size: 16px;
    color: #666;
    margin-top: 10px;
  }

  .rental-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .rental-section img {
    max-width: 100%;
    height: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  input[type="date"] {
    width: 40%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }

  button {
    background-color: #757575;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  button:hover {
    background-color: #3a3a3a;
  }
}
