.PageContent {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding: 10px;
}

.LibrosContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.LibroItem {
  box-sizing: border-box;
  width: calc(25% - 20px);
  margin: 0 10px 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  background-color: #e2e2e2;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.LibroItem h3 {
  margin-top: 10px;
  font-size: 1.2em; 
}

.LibroItem p {
  margin: 10px 0;
  font-size: 0.9em;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}

.LibroItem img {
  max-width: 80%;
  height: auto;
  border-radius: 5px;
  border: 1px solid #ddd;
}

@media (max-width: 768px) {
  .LibroItem {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .LibroItem {
    width: 100%;
  }
}
